#fondo {
    background-color: #07501D;
    padding: 20px;
   
}

.encontranos{
    justify-content: center;
    padding-bottom: 10px;
}

.mm{
font-size: 30px;
color: white;

font-family: "Bree Serif", serif;
font-weight: 400;

font-style: normal;
}
.copyright{
    text-align: center;
    border-top: solid 1px white;
}

.copy{
    color: white;
    padding-top: 20px;
}


@media (min-width: 300px) and (max-width: 700px) {
    #fondo {
        display: flex;
        flex-direction: column;
        background-color: #07501D;
        padding: 16px;
    }


    .palabras{
        color: white;
        font-family: "Bree Serif", serif;
        font-weight: 400;
        font-style: normal;
    }

    /* Agrupa las columnas "AYUDA" y "DECO | NOSOTROS" */
    mat-grid-tile {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    /* Ajusta la sección de desarrollador */
    #derechafooter {
        padding-top: 16px;
        border-left: none;

        /* Asegura que el borde izquierdo esté desactivado */
        text-align: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    .contenedorr {
        display: flex;
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    /* Ajuste de márgenes para redes sociales y logo */
    .iconosredes {
        padding-bottom: 10px;
        color: white;
        cursor: pointer;

    }

    .logo {
        margin: 10px auto;
        display: flex;
    }
}

@media (min-width: 701px) {
    mat-grid-list {
        width: 100%;
    }

    .contenedorr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .logoo{
        justify-content: center;
    }

    .palabras{
        color: white;
        font-family: "Bree Serif", serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
    }



    #fondo {
        background-color: #07501D;
    }

    .iconosredes {
        color: white;
        margin-right: 10px;
        cursor: pointer;
    }

    #derechafooter {
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-left: 1px solid hsl(0, 0%, 100%);

    }


}