<section class="experience">
    <div class="logoubicacion">
        <img src="./../../../../../assets/logo.png" alt="logo" id="logo">
    </div>
    
    <h1>Una experiencia única en muebles.</h1>
    <p class="intro">
        Fundada hace 5 años, nuestra mueblería combina calidad y diseño moderno para ofrecer piezas que
        transforman cualquier espacio en un hogar. Cada mueble es creado con un enfoque en la durabilidad
        y la estética, pensado para quienes buscan confort y estilo.
        <br>
        ¿Ya descubriste nuestra colección?
    <p>

    <div class="container text-center fondo">
        <div class="row">
            <!--Primer Grid-->
            <div class="col grid">
                <h3 class="titulos">La esencia del diseño a mano</h3>

                <p>Nuestros muebles están elaborados con la paciencia y dedicación de
                    expertos artesanos, que fusionan la creatividad con materiales de alta calidad.
                    Somos pioneros en crear piezas únicas que perduran en el tiempo y se adaptan a
                    todos los estilos de vida.
                </p>

                <img src="./../../../../../assets/nosotros/artesano.webp" alt="artesano" class="imagenes">



                <h3 class="titulos">Nos encargamos de todo por ti.</h3>

                <p>
                    Al comprar cualquier mueble con nosotros, tienes la opción de agregar el servicio de
                    instalación. Nuestros expertos se encargarán de llevar y colocar los muebles en tu hogar o
                    institución, asegurando que todo quede perfectamente instalado y listo para usar, sin
                    preocupaciones.
                </p>

                <img src="./../../../../../assets/nosotros/trabajadores.webp" alt="trabajadores" class="imagenes" id="imb">
            </div>

            <!--Segundo Grid-->
            <div class="col grid">
                <img src="./../../../../../assets/nosotros/salon.webp" alt="salon" class="imagenes" id="im">

                <h3 class="titulos">Elegancia y distinción en cada detalle.</h3>

                <p>
                    Contamos con una línea de muebles de diseño exclusivo que se destaca por su estética,
                    funcionalidad y acabado impecable. Cada pieza está pensada para darle un
                    carácter distintivo a tu hogar.
                </p>


                <img src="./../../../../../assets/nosotros/oficina.webp" alt="oficina" class="imagenes">

                <h3 class="titulos">Funcionalidad sin perder estilo</h3>

                <p>
                    Además de muebles para el hogar, ofrecemos soluciones de
                    mobiliario para oficinas y espacios de trabajo.
                    Diseños funcionales y elegantes que mejoran la productividad sin perder la estética.
                </p>
            </div>

        </div>
    </div>





</section>