@font-face {
    font-family: fuente;
    src: url(/src/fonts/fuente1.ttf);
}

.vistas{
    font-family: fuente;

}

html, body { height: 100%;background-color:#07501db3 ; }



.hola{
    background-color:#07501db3 ; 
}