@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=New+Amsterdam&display=swap');

.vistas{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}


.hola{
    background-color:#07501dec ; 
}